---
import { SITE_TITLE } from '../consts';
const today = new Date();
---

<footer>
        &copy; {today.getFullYear()} {SITE_TITLE}. Wszelkie prawa zastrzeżone.
        <div class="privacy"><a href="/privacy">Polityka prywatności</a></div>
</footer>
<style>
        footer {
                width: 100%;
                margin-top: auto;
                padding: 0.5em 1em;
                background: linear-gradient(var(--gray-gradient)) no-repeat;
                color: rgb(var(--gray));
                text-align: center;
                box-sizing: border-box;
        }
	.privacy {
	margin-top: 0.5em;
	}
	.privacy a {
	text-decoration: none;
	color: rgb(var(--gray));
	}
	.privacy a:hover {
	color: rgb(var(--gray-dark));
	text-decoration: underline;
	}
</style>
