---
import { SITE_TITLE } from '../consts';
import Menu from './Menu.astro';
---

<header>

        <nav>
                <a href="/" class="logo">
                        <img src="/logo.svg" alt={SITE_TITLE} width="40" height="40" />
                </a>
                <Menu />
        </nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
        .logo {
                display: flex;
                align-items: center;
        }
        .logo img {
                display: block;
        }
        nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
        }
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}

</style>
