---
import HeaderLink from './HeaderLink.astro';
---

<div class="menu">
    <HeaderLink href="/">Strona główna</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">O mnie</HeaderLink>
    <HeaderLink href="/contact">Kontakt</HeaderLink>
</div>

<style>
    .menu {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
</style>
